<div class="add-wrapper">
    <div class="title">Add Contact data</div>
    <br>

    <form [formGroup]="contactForm" (ngSubmit)="onClickAdd()" *ngIf="!showLoader">
        <div class="picker" (click)="userImg.click()">
            <img [src]="photoPreview" alt="user-photo">
        </div>

        <!-- invisible file picker to be triggered when thumbnail is clicked -->
        <input type="file" hidden #userImg (change)="onImgSelected($event)">

        <div class="inp-cls">
            <input type="text" placeholder="First Name*" formControlName="fName" class="mr-2 name-width">
            <input type="text" placeholder="Middle Name" formControlName="mName" class="mr-2 name-width">
            <input type="text" placeholder="Last Name*" formControlName="lName" class="name-width">
        </div>

        <br>

        <input type="email" placeholder="Email ID" formControlName="email" class="full-width">
        <br>

        <input type="tel" placeholder="Mobile" formControlName="mobile" class="mr-2 half-width">
        <input type="tel" placeholder="Landline" formControlName="landline" class="half-width">

        <br>
        <textarea rows="4" placeholder="Notes" formControlName="notes" class="full-width"></textarea>

        <br>
        <div class="btns-wrapper">
            <span class="error-cls">

                <!-- file type errors -->
                <span *ngIf="error.show">{{error.message}}<br></span>

                <!-- reactive forms errors for name, email, mobile, landline and Notes -->
                <span *ngIf="contactForm.controls.fName.dirty&&contactForm.controls.fName.invalid">
                    First Name is required <br>
                </span>
                <span *ngIf="contactForm.controls.lName.dirty&&contactForm.controls.lName.invalid">
                    Last Name is required <br>
                </span>
                <span *ngIf="contactForm.controls.email.invalid">
                    Invalid email format <br>
                </span>
                <span *ngIf="contactForm.controls.mobile.invalid">
                    Invalid mobile: should contain 10 digits<br>
                </span>
                <span *ngIf="contactForm.controls.landline.invalid">
                    Invalid landline: should contain 8 digits<br>
                </span>
                <span *ngIf="contactForm.controls.notes.invalid">
                    Notes exceeding 100 characters<br>
                </span>
            </span>

            <span *ngIf="data.screen=='add'">
                <button class="secondary-btn btn" (click)="onCancelClick()" type="button">Cancel</button>
                <button class="primary-btn btn" type="submit" [disabled]="!contactForm.valid">Add</button>
            </span>

            <span *ngIf="data.screen=='edit'">
                <button class="secondary-btn btn" (click)="onCancelClick()" type="button">Cancel</button>
                <button class="primary-btn btn" type="submit" [disabled]="!contactForm.valid">Save</button>
            </span>
        </div>

    </form>

    <div class="spinner-cont" *ngIf="showLoader">
        <mat-spinner></mat-spinner>
    </div>
</div>